.comment{
    margin-top: 1.5rem;
    gap: 1rem;
    display: flex;
}

.commentBox{
    flex: 1;
}

.comment .card{
    background: var(--gray-700);
    padding: 1rem;
    border-radius: 8px;
}

.cardHeader{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cardHeader strong{
    display: block;
    line-height: 1.6;
    font-size: .875rem;
}

.cardHeader time{
    display: block;
    line-height: 1.6;
    font-size: 0.75rem;
    color: var(--gray-400);
}

.cardHeader button{
    background: transparent;
    border: none;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 4px;
}

.cardHeader button:hover{
    color: var(--red-500);
}

.card p{
    margin-top: 1rem;
    color: var(--gray-300);
}

.commentBox footer button {
    background: transparent;
    border: none;
    color: var(--gray-400);
    cursor: pointer;
    line-height: 0;
    border-radius: 4px;

    display: flex;
    align-items: center;
    padding-top: .625rem;
}

.commentBox footer button:hover{
    color: var(--green-300);
}

.commentBox footer button svg{
    margin-right: 0.5rem;
}

.commentBox footer button span::before{
    content: '\2022';
    padding: 0.5rem;
}